.saveContainer {
	width: 100%;
	box-sizing: border-box;
	background-color: #EDF3FD;
	height: 56px;	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	padding-left: 18px;
	margin-bottom: 25px;
	@media (max-width: 360px) {
		height: 64px;
	}	
}

.saveContainer img {
	@media (max-width: 360px) {
		width: 24px;
	}	
}

.normalText {
	font-family: 'Manrope';
	font-size: 16px;
	line-height: 22.4px;
	font-weight: 400;
	color: black;
	@media (max-width: 360px) {
		font-size: 14px;
		line-height: 19.6px;
		padding-right: 10px;
	}	
}

.strongText {
	color: #2C7EF8;
	font-family: 'Manrope';
	font-size: 16px;
	line-height: 22.4px;
	font-weight: 400;
	@media (max-width: 360px) {
		font-size: 14px;
		line-height: 19.6px;
	}	
}

.saveContainer p {
	margin-left: 10px;
}