.featuresList {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;	
	@media (max-width: 360px) {
		padding-left: 22px;
		padding-right: 15px;
		font-size: 12px;
	}	
	
}

.featureItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 13px;
	@media (max-width: 360px) {		
		font-size: 12px;
	}	
}

.featureItem img {
	margin-right: 10px;
	@media (max-width: 360px) {
		width: 16px;		
	}	
}

.normalFont {
	color: #4D5254;
	font-family: 'Manrope';
	font-size: 16px;
	line-height: 25.6px;
	font-weight: 400;
	@media (max-width: 360px) {
		font-size: 12px;
		line-height: 19.2px;
	}	
}

.strongFont {
	color: #4D5254;
	font-family: 'Manrope';
	font-size: 16px;
	line-height: 25.6px;
	font-weight: 700;
	@media (max-width: 360px) {
		font-size: 12px;
		line-height: 19.2px;
	}	
}

